<app-property-search-form (propertyEvent)="setQueryParams($event)"></app-property-search-form>
<div>
    <div class="card-list-wrapper">
        <a *ngFor="let property of this.properties | async" routerLink="/property/details/{{property.id}}">
            <app-property-card [property]='property'></app-property-card>
        </a>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="loadProperties(paginator.pageIndex, paginator.pageSize)"
    showFirstLastButtons></mat-paginator>