<div class="card-wrapper">
    <mat-card class="property-card">
        <a routerLink="/property/details/{{property.id}}">
            <img mat-card-image [src]="this.property.photos[0]?.url || '../assets/no-image.png'">
            <mat-card-subtitle>{{property?.categoryName}}</mat-card-subtitle>
            <mat-card-subtitle>{{property?.address?.name}}</mat-card-subtitle>
            <mat-card-content>{{property?.description}}</mat-card-content>
        </a>
        <mat-card-actions>
            <a mat-flat-button color="accent">Edit</a>
            <a mat-flat-button color="warn">Delete</a>
        </mat-card-actions>
    </mat-card>
</div>

