.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.6);
}

.toolbar > a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.toolbar > a > img {
    width: 40px;
    height: 30px;
    object-fit: cover;
    border-radius: 15px;
}

.mat-list-base{
    padding: 0px;
}

.mat-list-base .mat-list-item 
{
    font-size: 20px;
    color: #0288d1;
    padding: 0px;
}

.toolbar-nav {
    display: flex;
}
