<mat-toolbar class="toolbar" color="primary">
  <a color="primary" routerLink="">
    <img src="../assets/logo.jpeg" alt="">
  </a>

  

  <mat-nav-list class="toolbar-nav">

    <mat-list-item *ngIf="isAuthenticated" [routerLinkActive]="['active']">
      <a color="accent" [matMenuTriggerFor]="menu">
        Properties
      </a>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/property/create">
            <mat-icon>foundation</mat-icon>
            <span>Create</span>
          </button>
          <button mat-menu-item routerLink="/property/mine">
            <mat-icon>apartment</mat-icon>
            <span>My properties</span>
          </button>
      </mat-menu>
    </mat-list-item>

    <mat-list-item [routerLinkActive]="['active']">
      <a color="accent" [matMenuTriggerFor]="menu">
        Profile
      </a>
      <mat-menu #menu="matMenu">
        <div *ngIf="!isAuthenticated">
          <button mat-menu-item routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Sign In</span>
          </button>
          <button mat-menu-item routerLink="/register">
            <mat-icon>person</mat-icon>
            <span>Sign Up</span>
          </button>
        </div>
        <div *ngIf="isAuthenticated">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sign Out</span>
          </button>
        </div>
      </mat-menu>
    </mat-list-item>


    <mat-list-item *ngIf="isAdministrator" [routerLinkActive]="['active']">
      <a color="accent" [matMenuTriggerFor]="menu">
        Administration
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/user/all">
          <mat-icon>people</mat-icon>
          <span>All Users</span>
        </button>
        <button mat-menu-item routerLink="/location">
          <mat-icon>where_to_vote</mat-icon>
          <span>Locations</span>
        </button>
        <button mat-menu-item routerLink="/categories">
          <mat-icon>category</mat-icon>
          <span>Categories</span>
        </button>
      </mat-menu>
    </mat-list-item>
  </mat-nav-list>
</mat-toolbar>