table {
    width: 100%;
}

tr:nth-child(even){
  background-color: var(--color-light-accent);
}

.mat-elevation-z8 {
    margin-top: 5%;
    margin: 5% auto;
    
    background-color: white;
}

mat-form-field {
  margin-left: 25px;
}
