
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$property-invest-auction-primary: mat-palette($mat-lime);
$property-invest-auction-dark-primary: mat-palette($mat-lime, A700);
$property-invest-auction-accent: mat-palette($mat-light-blue, 50, A200, A100, A400);
$property-invest-auction-divider: mat-palette($mat-gray, A400);

// The warn palette is optional (defaults to red).
$property-invest-auction-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$property-invest-auction-theme: mat-light-theme((
  color: (
    primary: $property-invest-auction-primary,
    accent: $property-invest-auction-accent,
    warn: $property-invest-auction-warn,
    dark-primary: $property-invest-auction-dark-primary,
  )
));

:root {
  --color-primary: #{mat-color($property-invest-auction-primary)};
  --color-accent: #{mat-color($property-invest-auction-accent)};
  --color-light-accent: #{mat-color($property-invest-auction-accent, 50)};
  --color-warn: #{mat-color($property-invest-auction-warn)};
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($property-invest-auction-theme);

