<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="standard" >
          <mat-label>Username</mat-label>
          <span matPrefix><mat-icon>person</mat-icon></span>
          <input matInput type="text" placeholder="Username" formControlName="username">
          <mat-error>Username is required!</mat-error>
        </mat-form-field>
      
        <mat-form-field appearance="standard" >
          <mat-label>Password</mat-label>
          <span matPrefix><mat-icon>lock</mat-icon></span>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error>Password is required!</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">Sign In</button>
    </form>
</div>